

.collapsible {
/*  left: 15%;*/
  position:relative;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  position:relative;
/*  
  width:70%;*/
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
/*  text-align: center;*/
  background-color: #f1f1f1;\
}