/*#main_content {
    margin-top: 0;
    min-height: 100%;
    width: 100%;  
    outline: medium none;
    overflow: visible;
    position: relative;
}*/


/* NODE INFO */
#graph_node_info {
  float:left;
  margin-top:30px;
  margin-left: 350px;
  width:50%;
  height: 50px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}


/* GRAPH */
#graph {
  float:left;
  margin-left: 350px;
  margin-top:30px;

  overflow: auto;
  border: 3px solid #888;
	width: 50%; 
	height: 600px;
}


/* TIME SLIDER */
#settings1 {
  width:100%;
  padding-top:70px;
  clear:both;
}
#time_slider {
  /*float: center;*/
  /*position: relative;*/
  margin: auto;
  width:900px;
}

/* OTHER SETTINGS */
#settings2 {
  width:100%;
  float:left;
  padding:50px;
  clear:both;
}

#form {
  float:left;
  width:40%;
}

input[type=text] {
  width: 400px;
  height:40px;

  font-size: 12px;
  font-weight: bold;
  color:#555555;
  padding-top: 2px;
}
button {
  width: 150px;
  height:40px;

  font-size: 12px;
  font-weight: bold;
  color:#555555;
  padding-top: 2px;
>>>>>>> frontend
}

#topic_input {
  width: 250px;
  height:40px;

  font-size: 12px;
  font-weight: bold;
  color:#555555;
  padding-top: 2px;
}

#heatmap_input {
  float:left; 
  width: 250px;
  height:40px;
}


#layer_select {
  width: 250px;
  height:40px;
  margin-top:30px;
  margin-left: 350px;

  font-size: 12px;
  font-weight: bold;
  color:#555555;
}

#explanation {
  float:right;
  margin-right:100px;
  margin-top:20px;
  width: 600px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}



<<<<<<< HEAD
||||||| merged common ancestors



=======

/* OTHER CHARTS */

#charts {
  width:100%;
  padding-top:20px;
  clear:both;
}

#heatmap {
  float: left;
  margin-left: 20px;
  margin-bottom: 100px;
  overflow:auto;
  padding-top:30px;

  width: 45%;
  height: 600px;
  border: 3px solid #888;
}

#bar_chart {
  float: right;
  margin-right: 20px;
  margin-bottom: 100px;

  width: 45%;
  height: 600px;
  border: 3px solid #888;
}

#tooltip_heatmap {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip_heatmap.hidden {
  display: none;
}
#tooltip_heatmap p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}



/*
>>>>>>> frontend
body {
	font: 10px sans-serif;
}

circle.node {
	fill: lightsteelblue;
	stroke: #555;
	stroke-width: 3px;
}

circle.leaf {
	stroke: #fff;
	stroke-width: 1.5px;
}

path.hull {
	fill: lightsteelblue;
	fill-opacity: 0.3;
}

line.link {
	stroke: #333;
	stroke-opacity: 0.5;
	pointer-events: none;
}
*/
