#main_content {
    margin-top: 0;
    min-height: 100%;
    width: 100%;  
    outline: medium none;
    overflow: visible;
    position: relative;
}


/* NODE INFO */
#graph_node_info {
  float:left;
  margin-top:30px;
  margin-left: 350px;
  width:1050px;
  height: 50px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}


/* GRAPH */
#graph {
  float:left;
  margin-left: 350px;
  margin-top:30px;

	border: 3px solid #888;
	width: 1100px; 
	height: 600px;
}


/* SETTINGS */
#settings {
  padding:auto;
  width:100%;
  clear:both;
}
#time_slider {
  float: center;
  position: relative;
  margin-top: 700px;
  width:70%;
}
#heatmap_order {
  float:right; 
  margin-right:50px;
  margin-top:10px;
}

#search_bar {
  margin: auto;
  margin-top: 100px;
  position: center;
  width: 60%;
}
input[type=text] {
  width: 300px;
  height:40px;

  font-size: 12px;
  font-weight: bold;
  color:#555555;
  padding-top: 2px;
}

#topic_input {
  width: 150px;
  height:40px;

  font-size: 12px;
  font-weight: bold;
  color:#555555;
  padding-top: 2px;
}

button {
  width: 130px;
  height:40px;

  font-size: 12px;
  font-weight: bold;
  color:#555555;
  padding-top: 2px;
}


/* OTHER CHARTS */

#bar_heat_content {
  width:100%;
  margin:auto;
}

#bar_chart {
  margin: auto;
  margin-top:70px;
  position: center;
  width: 60%;
}

#heatmap {
  overflow:auto;

  float: right; 
  margin-top: 20px;
  margin-right:50px;

  border: 3px solid #888;
  width: 800px;
  height: 600px;
}

#tooltip_heatmap {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip_heatmap.hidden {
  display: none;
}
#tooltip_heatmap p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}






body {
	font: 10px sans-serif;
}

circle.node {
	fill: lightsteelblue;
	stroke: #555;
	stroke-width: 3px;
}

circle.leaf {
	stroke: #fff;
	stroke-width: 1.5px;
}

path.hull {
	fill: lightsteelblue;
	fill-opacity: 0.3;
}

line.link {
	stroke: #333;
	stroke-opacity: 0.5;
	pointer-events: none;
}
