/* SEARCH BAR*/

#search_subreddit {
  width:30%;
  margin:auto;
  clear:both;
}
input[type=text] {
  width: 70%;
  height:40px;

  font-size: 12px;
  font-weight: bold;
  color: #333;
  padding-top: 2px;
}
button {
  width: 20%;
  height:40px;

  font-size: 12px;
  color: #444;
  padding-top: 2px;
}


/* GRAPH */
#graph {
  float: right;
  margin-right: 5%;
  margin-top: 20px;
  
  width: 75%; 
  height: 700px;

  border: 3px solid #888;
  overflow: auto;
}


/* NODE INFO */

#graph_node_info {
  float:left;
  margin-left: 4%;
  margin-top: 20px;
  padding:15px;
  color: #444;

  width:12%;
  height: auto;

  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}


/* SELECT LAYER */

#layer_select {
  float: left;

  width: 12%;
  height: 40px;
  margin-top: 50px;
  margin-left: 4%;

  font-size: 12px;
  font-weight: bold;
  color: #444;
}

 
/* HELP */

#help_button {
  float:left;
  margin-left: 10px;
  margin-top: 50px;

  padding:2px;
  text-align: center;
  color:#FFFFFF;

  width: 25px;
  height: 25px;

  background-color: #D35D06;
  border-radius: 3px;
  box-shadow: 4px 4px 10px #8F3D00;
}
.help {
  position: relative;
  display: inline-block;
}
.help .helptext {
  visibility: hidden;
  width: 300px;
  top: 100%;
  left: 25px;

  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  /*background-color: black;*/
  color: #444;
  text-align: left;
  /*padding: 5px 0;*/
  border-radius: 6px;

  height: auto;
  padding: 10px;

  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.help:hover .helptext {
  visibility: visible;
}







/* TIME SLIDER */
#settings1 {
  width: 100%;
  padding-top: 70px;
  clear: both;
}
#time_slider {
  float: right;
  margin-right: 15%;
  width: 55%;
}


/* OTHER SETTINGS */
#settings2 {
  width:100%;
  float:left;
  padding:50px;
  clear:both;
}

#form {
  float:left;
  width:40%;
}

input[type=text] {
  width: 400px;
  height:40px;

  font-size: 12px;
  font-weight: bold;
  color:#555555;
  padding-top: 2px;
}
button {
  width: 150px;
  height:40px;

  font-size: 12px;
  font-weight: bold;
  color:#555555;
  padding-top: 2px;
}

#topic_input {
  float: left;

  width: 12%;
  height: 40px;
  margin-top: 50px;
  margin-left: 4%;

  font-size: 12px;
  font-weight: bold;
  color: #444;
}

#heatmap_input {
  float: left;

  width: 12%;
  height: 40px;
  margin-top: 50px;
  margin-left: 4%;

  font-size: 12px;
  font-weight: bold;
  color: #444;
}



/* OTHER CHARTS */

#charts {
  width:100%;
  padding-top:20px;
  clear:both;
}

#heatmap {
  float: left;
  margin-left: 50px;
  margin-bottom: 100px;
  overflow:auto;
  padding-top:30px;

  width: 800px;
  height: 600px;
  border: 3px solid #888;
}

#bar_chart {
  float: right;
  margin-right: 50px;
  margin-bottom: 100px;

  width: 800px;
  height: 600px;
  border: 3px solid #888;
}

#tooltip_heatmap {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip_heatmap.hidden {
  display: none;
}
#tooltip_heatmap p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}



/*
body {
	font: 10px sans-serif;
}

circle.node {
	fill: lightsteelblue;
	stroke: #555;
	stroke-width: 3px;
}

circle.leaf {
	stroke: #fff;
	stroke-width: 1.5px;
}

path.hull {
	fill: lightsteelblue;
	fill-opacity: 0.3;
}

line.link {
	stroke: #333;
	stroke-opacity: 0.5;
	pointer-events: none;
}
*/
